<style type="text/css">
<!--
a {
background: lime;
color: chocolate; }
h1 { color: gold; font-family: Courier New; text-align: center;}
h1:first-letter {
font-size: 200%;
}
h2 { color: #A2D142; font-family: Courier New; text-align: center;}
ul li em {color: silver;}
.box { background-color: #333333;}
.imagebox { background-color: #ede4e4;}
body {
font-family: Lucida Sans;
background-repeat:no-repeat;
background-size:cover;
background-color: lightskyblue;
color: gold;
}
.dropbtn {
background-color: peachpuff;
color: darkred;
padding: 1px;
font-size: 30px;
border: solid gold;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown a {
color: darkred;
font-family: Comic Sans MS;
}
.dropdown-content {
display: none;
position: absolute;
background-color: lightgreen;
min-width: 8px;
z-index: 1;
font-family: Comic Sans MS;
}
.dropdown-content a {
color: darkred;
text-decoration: none;
padding: 8px 6px;
display: block;
}
h1::selection {
  color: lightskyblue;
}
legend::selection {
  color: lightskyblue;
}
.dropdown-content a:hover {background-color: gainsboro;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: cornsilk;}
-->
</style>
