<style type="text/css">
<!--
a {
background: lime;
color: chocolate;
}
h1 { color: #003400; font-family: Courier New;}
h2 { color: #610000; font-family: Courier New;}
.box { background-color: springgreen;}
.minibox { background-color: #004200;}
body {
background-color: orange;
font-family: lucida sans;
color: #322706;
}
body a {
color: #322706;
}
li {
  list-style: none;
}
li a {
  color: #322706;
}
.dropbtn {
background-color: peachpuff;
padding: 1px;
font-size: 30px;
border: solid gold;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown a {
color: darkred;
font-family: Comic Sans MS;
}
.dropdown-content {
display: none;
position: absolute;
background-color: lightgreen;
min-width: 8px;
z-index: 1;
}
.dropdown-content a {
color: darkred;
padding: 8px 6px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {background-color: gainsboro;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: cornsilk;}
-->
</style>
