<style type="text/css">
<!--

h1 { color: indigo; font-family: Courier New;}
h2 { color: darkblue; font-family: Courier New;}
.box { background-color: palegreen;}
.dropbtn {
background-color: peachpuff;
padding: 1px;
font-size: 30px;
border: solid gold;
}
body {
background-color: palegoldenrod;
color: darkslategray;
}
li {
  list-style: none;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown a {
color: darkred;
font-family: Comic Sans MS;
}
.dropdown-content {
display: none;
position: absolute;
background-color: lightgreen;
min-width: 8px;
z-index: 1;
font-family: Comic Sans MS;
}
.dropdown-content a {
color: darkred;
padding: 8px 6px;
text-decoration: none;
display: block;
}
h1::selection {
  color: navy;
}
legend::selection {
  color: darkslateblue;
}
.dropdown-content a:hover {background-color: gainsboro;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: cornsilk;}
fieldset {
  border: none;
}

-->
</style>








