/*
 comment
*/

<style type="text/css">

address { font-size: small;}

h1 { color: gold; font-family: Verdana;
opacity: 0.9;}
h1:first-letter {
font-size: 200%;
}
h2 { color: pink;}
ul li em {color: navy;}
.box { background-color: #333333;}
.imagebox { background-color: #ede4e4;}
body {
background-color: mediumblue;
font-family: Comic Sans MS;
background-size:cover;
color: white;
}
body a {
 color: white;
text-shadow: #000000 4px 3px 3px;
}
li {

border: solid thin gold;
display: block;
background-color: #733B21;
margin: 4px;
height: 30px;
width: 70%;
}

p::selection { background: orange;}
.dropbtn {
background-color: peachpuff;
color: darkred;
padding: 1px;
font-size: 30px;
border: solid gold;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown a {
color: darkred;
font-family: Comic Sans MS;
}
.dropdown-content {
display: none;
position: absolute;
background-color: lightgreen;
min-width: 8px;
z-index: 1;
font-family: Comic Sans MS;
}
.dropdown-content a {
color: darkred;
padding: 8px 6px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {background-color: gainsboro;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: cornsilk;}
</style>









